.game-category-sec{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 10px;
    padding-left: 5%;
    /* height: 160px; */
    /* background-color:skyblue; */
}

.about-game{
    width: 30%;
    padding: 10px;
    background-color: #31323b;
    color: whitesmoke;
}
.game-category{
    /* display: flex; */
    /* display:inline; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* justify-content: center; */
    width: 65%;
    height: 100%;
    margin: 0 auto;
   
    /* overflow-x: auto; */
}
.game-category::-webkit-scrollbar {
    display: none; /* Hide scrollbar */
  }
@media only screen and (max-width: 600px) {
    .game-category-sec{
        flex-direction: column;
        height: 100%;
    }
    .about-game{
        width: 100%;
    }
    .game-category{
        width: 100%;
    }
}