:root {
    --cardWidth: 170px;
    --cardHeight: 100px;
    --cardMargin: 1px;
  }
  
  /* html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Helvetica;
    width: 100%;
  } */
 .UserRecentPlayed{
  width: 100%;
  /* background-image: url('https://img.freepik.com/free-photo/black-smooth-wooden-textured-background_53876-153465.jpg?w=996&t=st=1714919429~exp=1714920029~hmac=3736b384095ec9bdcc869aca68fb22b68f975cd28d10c0b0df20841b395b2cb2'); */
    /* Other background properties */
    background-size: cover; /* Adjusts the size of the background image */
    background-position: center; /* Positions the background image */
    
  }

  .Your-might-like {
    margin: 0;
    padding: 8px 48px;
    background: #333;
    color: #fff;
    font-size: 24px;
    text-align: center;
    
  }

  .main-section {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    margin: auto 0;
    /* background: #bbb; */
  }
  .card {
    display: flex;
    justify-self: start;
    width: var(--cardWidth);
    height: var(--cardHeight);
    margin: var(--cardMargin);
    /* border: 1px solid #ccc; */
    border-radius: 8px;
    /* background: #fff; */
    box-sizing: border-box;
    cursor: pointer;
    overflow: hidden; /* Ensures image won't overflow the card */
    transition: transform 0.3s ease; /* Smooth transition effect */
    background-color: transparent;
    
  }

  .card:hover {
    transform: scale(1.1); /* Increases the size of the card on hover */
    z-index: 2;
    border: 4.5px solid ;
    border-radius: 18px;
    border-color: rgb(108, 0, 224);
   
  }
  
  .card-img {
    width: 100%; /* Ensures the image fills the card */
    height: auto; /* Maintains aspect ratio */
    transition: transform 0.3s ease;
 /* Smooth transition effect */
  }
  



  